@model Hero

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label"></label>
                <input asp-for="PlayerId" class="form-control" />
                <span asp-validation-for="PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeroId" class="control-label"></label>
                <input asp-for="HeroId" class="form-control" />
                <span asp-validation-for="HeroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label"></label>
                <input asp-for="ModelId" class="form-control" />
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeaponItemId" class="control-label"></label>
                <input asp-for="WeaponItemId" class="form-control" />
                <span asp-validation-for="WeaponItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArmorItemId" class="control-label"></label>
                <input asp-for="ArmorItemId" class="form-control" />
                <span asp-validation-for="ArmorItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BootsItemId" class="control-label"></label>
                <input asp-for="BootsItemId" class="form-control" />
                <span asp-validation-for="BootsItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmuletItemId" class="control-label"></label>
                <input asp-for="AmuletItemId" class="form-control" />
                <span asp-validation-for="AmuletItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
